{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
    <section class="slider" id="home">
        <div class="container-fluid">
            <div class="row">
                <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel__item item active">
                            <img class="carousel__image" src="{% static 'img/slide-one.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <h1 class="carousel__title">Мы предоставляем</h1>
                                <p class="carousel__subtitle">комплексные решения</p>
                                <p class="carousel__text">Запишись на консультацию к нашим специалистам и получи скидку -10% на весь план лечения</p>
                                <a class="carousel__button" href="{% url 'doctors' %}">Записаться</a>
                            </div>
                        </div>
                        <div class="carousel__item item">
                            <img class="carousel__image" src="{% static 'img/slide-two_.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <h1 class="carousel__title">Мы предоставляем</h1>
                                <p class="carousel__subtitle">комплексные решения</p>
                                <p class="carousel__text">Запишись на консультацию к нашим специалистам и получи скидку -10% на весь план лечения</p>
                                <a class="carousel__button" href="{% url 'doctors' %}">Записаться</a>
                            </div>
                        </div>
                        <div class="carousel__item item">
                            <img class="carousel__image" src="{% static 'img/slide-three_.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <h1 class="carousel__title">Мы предоставляем</h1>
                                <p class="carousel__subtitle">комплексные решения</p>
                                <p class="carousel__text">Запишись на консультацию к нашим специалистам и получи скидку -10% на весь план лечения</p>
                                <a class="carousel__button" href="{% url 'doctors' %}">Записаться</a>
                            </div>
                        </div>
                        <div class="carousel__item item">
                            <img class="carousel__image" src="{% static 'img/slide-four_.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <h1 class="carousel__title">Мы предоставляем</h1>
                                <p class="carousel__subtitle">комплексные решения</p>
                                <p class="carousel__text">Запишись на консультацию к нашим специалистам и получи скидку -10% на весь план лечения</p>
                                <a class="carousel__button" href="{% url 'doctors' %}">Записаться</a>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                        <span><</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                        <span>></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="about text-center section" id="about">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12 section__heading text-center">
                    <h2 class="section__title">О нас</h2>
                </div>
                <div class="col-xs-12 section__subtitle">
                    <p>Мы профессионалы своего дела и ждём вас, чтобы заполучить ваши деньги</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img class="img-responsive" src="{% static 'img/about_1.jpg' %}" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h1>П</h1>
                            </div>
                            <h3>Профессионализм</h3>
                            <p>В нашей "семье" присутствуют только коммпетентые работники</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail">
                        <div class="about-img">
                            <img class="img-responsive" src="{% static 'img/about_2.jpg' %}" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h1>А</h1>
                            </div>
                            <h3>Аборт</h3>
                            <p>Никогда не призовем вас к этому! Малыши - наше будущее!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail">
                        <div class="about-img">
                            <img class="img-responsive" src="{% static 'img/about_3.jpg' %}" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h1>Б</h1>
                            </div>
                            <h3>А что ещё говорить?</h3>
                            <p>Тут можно только посочувствовать... Боже упаси.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service text-center section" id="service">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12 section__heading text-center">
                    <h2 class="section__title section__title--white">Наши услуги</h2>
                </div>
                <div class="col-xs-12 section__subtitle section__subtitle--white">
                    <p>Работаем для вас с 1950 года</p>
                </div>
            </div>
            <div class="row services">
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="heart img-responsive" src="{% static 'img/service1.png' %}" alt="">
                            </div>
                        </div>
                        <h3>Сердечные проблемы</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="brain img-responsive" src="{% static 'img/service2.png' %}" alt="">
                            </div>
                        </div>
                        <h3>Мозговые проблемы</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="knee img-responsive" src="{% static 'img/service3.png' %}" alt="">
                            </div>
                        </div>
                        <h3>Суставные проблемы</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="bone img-responsive" src="{% static 'img/service4.png' %}" alt="">
                            </div>
                        </div>
                        <h3>Проблемы с легкими</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team section" id="team">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12 section__heading text-center">
                    <h2 class="section__title">Наша команда</h2>
                </div>
            </div>
            <div class="row doctors">
                <div class="col-md-4 doctor">
                    <div class="doctor__person">
                        <img class="img-responsive" src="{% static 'img/member-1.jpg' %}" alt="member-1">
                    </div>
                    <div class="doctor__details">
                        <p class="doctor__name">Мария Беликова</p>
                        <p class="doctor__staff">Дантист</p>
                        <ul class="doctor__dates">
                            <li class="doctor__date">
                                <span>Понедельник - Пятница</span>
                                <span>8:00 - 17:00</span>
                            </li>
                            <li class="doctor__date">
                                <span>Суббота</span>
                                <span>9:00 - 16:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 doctor">
                    <div class="doctor__person">
                        <img class="img-responsive" src="{% static 'img/member-1.jpg' %}" alt="member-1">
                    </div>
                    <div class="doctor__details">
                        <p class="doctor__name">Мария Беликова</p>
                        <p class="doctor__staff">Дантист</p>
                        <ul class="doctor__dates">
                            <li class="doctor__date">
                                <span>Понедельник - Пятница</span>
                                <span>8:00 - 17:00</span>
                            </li>
                            <li class="doctor__date">
                                <span>Суббота</span>
                                <span>9:00 - 16:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 doctor">
                    <div class="doctor__person">
                        <img class="img-responsive" src="{% static 'img/member-1.jpg' %}" alt="member-1">
                    </div>
                    <div class="doctor__details">
                        <p class="doctor__name">Мария Беликова</p>
                        <p class="doctor__staff">Дантист</p>
                        <ul class="doctor__dates">
                            <li class="doctor__date">
                                <span>Понедельник - Пятница</span>
                                <span>8:00 - 17:00</span>
                            </li>
                            <li class="doctor__date">
                                <span>Суббота</span>
                                <span>9:00 - 16:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 doctor">
                    <div class="doctor__person">
                        <img class="img-responsive" src="{% static 'img/member-1.jpg' %}" alt="member-1">
                    </div>
                    <div class="doctor__details">
                        <p class="doctor__name">Мария Беликова</p>
                        <p class="doctor__staff">Дантист</p>
                        <ul class="doctor__dates">
                            <li class="doctor__date">
                                <span>Понедельник - Пятница</span>
                                <span>8:00 - 17:00</span>
                            </li>
                            <li class="doctor__date">
                                <span>Суббота</span>
                                <span>9:00 - 16:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 doctor">
                    <div class="doctor__person">
                        <img class="img-responsive" src="{% static 'img/member-1.jpg' %}" alt="member-1">
                    </div>
                    <div class="doctor__details">
                        <p class="doctor__name">Мария Беликова</p>
                        <p class="doctor__staff">Дантист</p>
                        <ul class="doctor__dates">
                            <li class="doctor__date">
                                <span>Понедельник - Пятница</span>
                                <span>8:00 - 17:00</span>
                            </li>
                            <li class="doctor__date">
                                <span>Суббота</span>
                                <span>9:00 - 16:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 doctor">
                    <div class="doctor__person">
                        <img class="img-responsive" src="{% static 'img/member-1.jpg' %}" alt="member-1">
                    </div>
                    <div class="doctor__details">
                        <p class="doctor__name">Мария Беликова</p>
                        <p class="doctor__staff">Дантист</p>
                        <ul class="doctor__dates">
                            <li class="doctor__date">
                                <span>Понедельник - Пятница</span>
                                <span>8:00 - 17:00</span>
                            </li>
                            <li class="doctor__date">
                                <span>Суббота</span>
                                <span>9:00 - 16:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}